{% extends 'filmoteka/base.html' %}

{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Název filmu</th>
                <th>Rok</th>
                <th>Hodnocení</th>
            </tr>
        </thead>
        <tbody>
            {% for film in films %}
            <tr>
                <td><a href="{% url 'film_detail' pk=film.pk %}">{{ film.title }}</a></td>
                <td>{{ film.release_date.year }}</td>
                <td>{{ film.rate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
